In [2]:
import pandas as pd

df = pd.read_excel(r"C:\Users\ASUS\Downloads\output.xlsx")
df

,DATA_A,DATA_B
0,2024-08-06 00:19:52 62857934732313505500027379...,2024-08-06 00:21:15 62857934732313505500027379...
1,2024-08-06 00:30:17 62857673297843505800027379...,2024-08-06 00:30:25 62857673297843505800027379...
2,2024-08-06 00:34:11 62814304088513505600027379...,2024-08-06 00:34:12 62814304088513505600027379...
3,2024-08-06 00:36:52 62856047305153505100027379...,2024-08-06 00:38:15 62856047305153505100027379...
4,2024-08-06 00:37:44 62858718745913505500027379...,2024-08-06 00:37:45 62858718745913505500027379...
...,...,...
6948,2024-08-06 23:23:38 62815755555503505000027391...,2024-08-06 23:23:44 62815755555503505000027391...
6949,2024-08-06 23:34:00 62858461556033505700027391...,2024-08-06 23:34:06 62858461556033505700027391...
6950,2024-08-06 23:35:18 62815277026483505700027391...,2024-08-06 23:35:20 62815277026483505700027391...
6951,2024-08-06 23:48:30 62856978327353505200027386...,2024-08-06 16:52:32 62856978327353505200027386...
6952,2024-08-06 23:49:47 62815464526113505600027380...,2024-08-06 06:47:30 62815464526113505600027380...

In [3]:
from fuzzywuzzy import fuzz
import pandas as pd

def calculate_confidence(row):
    return fuzz.ratio(row['DATA_A'],row['DATA_B'])

df['confidence']=df.apply(calculate_confidence,axis=1)
df

,DATA_A,DATA_B,confidence
0,2024-08-06 00:19:52 62857934732313505500027379...,2024-08-06 00:21:15 62857934732313505500027379...,97
1,2024-08-06 00:30:17 62857673297843505800027379...,2024-08-06 00:30:25 62857673297843505800027379...,97
2,2024-08-06 00:34:11 62814304088513505600027379...,2024-08-06 00:34:12 62814304088513505600027379...,98
3,2024-08-06 00:36:52 62856047305153505100027379...,2024-08-06 00:38:15 62856047305153505100027379...,96
4,2024-08-06 00:37:44 62858718745913505500027379...,2024-08-06 00:37:45 62858718745913505500027379...,98
...,...,...,...
6948,2024-08-06 23:23:38 62815755555503505000027391...,2024-08-06 23:23:44 62815755555503505000027391...,96
6949,2024-08-06 23:34:00 62858461556033505700027391...,2024-08-06 23:34:06 62858461556033505700027391...,98
6950,2024-08-06 23:35:18 62815277026483505700027391...,2024-08-06 23:35:20 62815277026483505700027391...,97
6951,2024-08-06 23:48:30 62856978327353505200027386...,2024-08-06 16:52:32 62856978327353505200027386...,91
6952,2024-08-06 23:49:47 62815464526113505600027380...,2024-08-06 06:47:30 62815464526113505600027380...,91

In [4]:
def count_confidence_levels(confidence_list):
    counts = {}
    for confidence in confidence_list:
        if confidence in counts:
            counts[confidence] += 1
        else:
            counts[confidence] = 1
    return counts

confidence_list = df['confidence']
result = count_confidence_levels(confidence_list)

# Sort the result by confidence levels (keys) in descending order
sorted_result = dict(sorted(result.items(), key=lambda item: item[0], reverse=True))

for key, value in sorted_result.items():
    print(f"{key} = {value}")

100 = 81
98 = 3547
97 = 406
96 = 1908
95 = 893
93 = 83
91 = 34
89 = 1

In [5]:
from datetime import datetime
def extract_time(datetime_str):
    datetime_obj = datetime.strptime(datetime_str[:19], '%Y-%m-%d %H:%M:%S')
    return datetime_obj.strftime('%H:%M:%S')

# Apply the function to both columns
df['TIME_A'] = df['DATA_A'].apply(extract_time)
df['TIME_B'] = df['DATA_B'].apply(extract_time)

(df[['TIME_A', 'TIME_B']])

        TIME_A    TIME_B
0     00:19:52  00:21:15
1     00:30:17  00:30:25
2     00:34:11  00:34:12
3     00:36:52  00:38:15
4     00:37:44  00:37:45
...        ...       ...
6948  23:23:38  23:23:44
6949  23:34:00  23:34:06
6950  23:35:18  23:35:20
6951  23:48:30  16:52:32
6952  23:49:47  06:47:30

[6953 rows x 2 columns]

In [6]:
df.dtypes

DATA_A        object
DATA_B        object
confidence     int64
TIME_A        object
TIME_B        object
dtype: object

In [7]:
def extract_datetime(datetime_str):
    return datetime.strptime(datetime_str[:19], '%Y-%m-%d %H:%M:%S')

df['TIME_A'] = df['DATA_A'].apply(extract_datetime)
df['TIME_B'] = df['DATA_B'].apply(extract_datetime)

In [8]:
df['TIME_DIFFERENCE'] = abs(df['TIME_B'] - df['TIME_A'])
df[['TIME_A','TIME_B','TIME_DIFFERENCE']]

                  TIME_A              TIME_B TIME_DIFFERENCE
0    2024-08-06 00:19:52 2024-08-06 00:21:15 0 days 00:01:23
1    2024-08-06 00:30:17 2024-08-06 00:30:25 0 days 00:00:08
2    2024-08-06 00:34:11 2024-08-06 00:34:12 0 days 00:00:01
3    2024-08-06 00:36:52 2024-08-06 00:38:15 0 days 00:01:23
4    2024-08-06 00:37:44 2024-08-06 00:37:45 0 days 00:00:01
...                  ...                 ...             ...
6948 2024-08-06 23:23:38 2024-08-06 23:23:44 0 days 00:00:06
6949 2024-08-06 23:34:00 2024-08-06 23:34:06 0 days 00:00:06
6950 2024-08-06 23:35:18 2024-08-06 23:35:20 0 days 00:00:02
6951 2024-08-06 23:48:30 2024-08-06 16:52:32 0 days 06:55:58
6952 2024-08-06 23:49:47 2024-08-06 06:47:30 0 days 17:02:17

[6953 rows x 3 columns]

In [9]:
df.dtypes

DATA_A                      object
DATA_B                      object
confidence                   int64
TIME_A              datetime64[ns]
TIME_B              datetime64[ns]
TIME_DIFFERENCE    timedelta64[ns]
dtype: object

In [25]:
df['TIME_DIFFERENCE'] = abs(df['TIME_B'] - df['TIME_A']).dt.total_seconds()

average_seconds = df['TIME_DIFFERENCE'].mean()

average_hms = pd.to_timedelta(average_seconds, unit='s')

average_hms_format = str(average_hms).split(' ')[-1]
print("average time difference:", average_hms_format)

average time difference: 00:02:18.221199482

In [11]:
df

,DATA_A,DATA_B,confidence,TIME_A,TIME_B,TIME_DIFFERENCE
0,2024-08-06 00:19:52 62857934732313505500027379...,2024-08-06 00:21:15 62857934732313505500027379...,97,2024-08-06 00:19:52,2024-08-06 00:21:15,83.0
1,2024-08-06 00:30:17 62857673297843505800027379...,2024-08-06 00:30:25 62857673297843505800027379...,97,2024-08-06 00:30:17,2024-08-06 00:30:25,8.0
2,2024-08-06 00:34:11 62814304088513505600027379...,2024-08-06 00:34:12 62814304088513505600027379...,98,2024-08-06 00:34:11,2024-08-06 00:34:12,1.0
3,2024-08-06 00:36:52 62856047305153505100027379...,2024-08-06 00:38:15 62856047305153505100027379...,96,2024-08-06 00:36:52,2024-08-06 00:38:15,83.0
4,2024-08-06 00:37:44 62858718745913505500027379...,2024-08-06 00:37:45 62858718745913505500027379...,98,2024-08-06 00:37:44,2024-08-06 00:37:45,1.0
...,...,...,...,...,...,...
6948,2024-08-06 23:23:38 62815755555503505000027391...,2024-08-06 23:23:44 62815755555503505000027391...,96,2024-08-06 23:23:38,2024-08-06 23:23:44,6.0
6949,2024-08-06 23:34:00 62858461556033505700027391...,2024-08-06 23:34:06 62858461556033505700027391...,98,2024-08-06 23:34:00,2024-08-06 23:34:06,6.0
6950,2024-08-06 23:35:18 62815277026483505700027391...,2024-08-06 23:35:20 62815277026483505700027391...,97,2024-08-06 23:35:18,2024-08-06 23:35:20,2.0
6951,2024-08-06 23:48:30 62856978327353505200027386...,2024-08-06 16:52:32 62856978327353505200027386...,91,2024-08-06 23:48:30,2024-08-06 16:52:32,24958.0
6952,2024-08-06 23:49:47 62815464526113505600027380...,2024-08-06 06:47:30 62815464526113505600027380...,91,2024-08-06 23:49:47,2024-08-06 06:47:30,61337.0

In [12]:
df.to_excel("Fuzzy Matching Confidence.xlsx")